@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;;
$font-cormorant: 'Cormorant', serif;;
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family:$font-jost;
    color: $green;

}

.header{
    max-width: 1140px;
    margin: 0 auto;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
    &__nav{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link{
        color: $green;
        text-decoration: none;
        &:hover{
            color:$orange;
        }
    }
    &__tel{
        color: $green;
        text-decoration: none;
        font-weight: 500;

        &:hover{
            color:$orange;
        }
    }
    &__cart{
        display: block;
        background-color: $orange;
        width: 3.8rem;
        height: 3.8rem;
        background-image: url(../images/cart-black.svg);
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.6rem 1.6rem;
        position: relative;
        border: 1px solid $orange;
        &:hover{
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter{
        font-size: .8rem;
        color: $white;
        position:absolute;
        right: 1rem;
        top: .5rem;

    }
}
.logo{
    width: 12.3rem;
    height: 3.2rem;
    display: block;
    background-image: url(../images/logo1.svg);
    background-repeat: no-repeat;
    border-style: cover;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main{
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__item{
        margin-left:  12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link{
        margin-top: 6rem;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover{
        flex-basis: 763px;
        height: 763px ;
        border: 1px solid  rgba($color: $green, $alpha: .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image{
        width: 92%;

    }
    &__line{
        width: 658px;
        height: 658px;
        border: 1px solid  rgba($color: $green, $alpha: .4);
        border-radius: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.title{
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 7rem;
    color: $green;
    margin: 0;

    &__span{
        font-style: italic;
    }
    &_block{
        .title__span{
            display: block;
        }
    }
}
.description{
    margin: 0;
    &_size-s{
        font-size: 1.8rem;
    }
}
.link{
    color: $white;
    font-family: $font-jost;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: #d26a22;
    box-shadow: 0px 1rem 1.118rem .182rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display:inline-block ;
    &:hover{
        color: $orange;
        background-color: $white;
        border: 1px solid $orange;
    }
}

  