@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;
$darkorange: #BF601F;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab_768: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_hd: 1200px;
$r_desk_1120: 1120px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1600: 1600px;
$r_desk_full_1700: 1750px;
html{
    font-size: 10px;
    @media(max-width: $r_mob_500){
        font-size: 8px;
    }

}
body{
    font-size: 1.6rem;
    font-family:$font-jost;
    color: $green;
    background-image: url(../images/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    // overflow-x: hidden;
}

.header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    gap: 4%;
    @media (max-width: $r_desk_1280){
        gap: 3%;
    }
    &__nav{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media (max-width: $r_desk_hd){
            gap: 2.8rem;
        }
    }
    &__navigation{
        flex-grow: 1;
        margin-left: 4.5rem;
        @media (max-width: $r_desk_1280){
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd){
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900){
            display: none;
        }
    }
    &__link{
        color: $green;
        text-decoration: none;
        transition: .2s;
        &:hover{
            color:$orange;
        }
    }
    &__tel{
        color: $green;
        text-decoration: none;
        letter-spacing: .13rem;
        text-align: right;
        flex-basis: 200px;
        font-weight: 500;
        transition: .2s;
        &:hover{
            color:$orange;
        }
        @media (max-width: $r_desk_hd){
            display: none;
        }
    }
    &__cart{
        display: block;
        background-color: $orange;
        width: 4rem;
        height: 4rem;
        background-image: url(../images/cart-black.svg);
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.6rem 1.6rem;
        position: relative;
        border: 1px solid $orange;
        transition: .2s;
        cursor: pointer;
        @media (max-width: $r_desk_hd){
            background-image: url(../images/cart-green.svg);
            border: 1px solid $green;
            background-color: $white;
            opacity: .8;
        }
        @media (max-width: $r_mob_500){
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }
        &:hover{
            background-color: $green;
            border: 1px solid $green;
            @media (max-width: $r_desk_hd){
                background-color: white;
                opacity: 1;
            }
        }
    }
    &__buttons{
        @media (max-width: $r_desk_hd){
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        @media (max-width: $r_mob_500){
            gap: 1.4rem;
        }   
    }
    &__phone, &__menu{
        display: none;

    }
    &__phone{
        @media (max-width: $r_desk_hd){
            display: block;
            background-color: $white;
            width: 4rem;
            height: 4rem;
            background-image: url(../images/tel.svg);
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.6rem 1.6rem;
            position: relative;
            border: 1px solid $green;
            transition: .2s;
            opacity: .8;
        }
        @media (max-width: $r_mob_500){
            width: 4.5rem;
            height: 4.5rem;
            background-size: 1.9rem;
        }
        &:hover{
            opacity: 1;
        }
    }
    &__menu{
        @media (max-width: $r_tab_900){
            display: block;
            background-color: $white;
            width: 4rem;
            height: 4rem;
            background-image: url(../images/menu.svg);
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.6rem 1.6rem;
            position: relative;
            border: 1px solid $green;
            transition: .2s;
            opacity: .8;
            cursor: pointer;
        }
        
        @media (max-width: $r_mob_500){
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }
        &:hover{
            opacity: 1;
        }
    }
    &__counter{
        font-size: .8rem;
        color: $white;
        position:absolute;
        right: .7rem;
        top: .5rem;
        @media (max-width: $r_desk_hd){
            color:black;
        }
        @media (max-width: $r_mob_500){
            font-size: 1rem;
        }
    }
}
.logo{
    flex-basis: 12rem;
    height: 3.2rem;
    display: block;
    background-image: url(../images/logo1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &_m{
        width: 18rem;
        height: 4.4rem;
        @media (max-width: $r_tab_900) {
            display: none;
        }
        @media (max-width: $r_tab_768) {
            display: block;
        }
    }
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab_768){
        max-width: 600px;
    }
}
.main{
    position: relative;
    padding-bottom: 18.7rem;
    @media (max-width: $r_tab_768){
        padding-bottom: 10rem;
    }
    z-index: 0;
    &__text{
        padding-top: 4rem;
        @media (max-width: $r_desk_1120){
            flex-basis: 395px;
        }
        @media (max-width: $r_tab_768){
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__item{
        margin-left:  12rem;
        max-width: 378px;
        margin-top: 6rem;
        @media (max-width: $r_desk_1280){
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1280) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab_768) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link{
        margin-top: 6rem;
        @media (max-width: $r_tab_768) {
            text-align: center;
        }
        @media (max-width: $r_mob_500) {
            margin-bottom: 3.3rem;
        }
        
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk_1120){
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
    }
    &__cover{
        flex-basis: 758px;
        height: 758px ;
        border: 1px solid  rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media(max-width: $r_desk_1350){
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd){
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120){
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab_768){
            display: none;
        }
        
    }
    &__line{
        width: 656px;
        height: 656px;
        border: 1px solid  rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(max-width: $r_desk_1350){
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd){
            border: 1px solid  transparent;
            width: auto;
            height: auto;
        }
    }
    &__image{
        width: 92%;
        border-radius: 100%;
        animation: shadow 5s linear infinite;
    }
    &__imagemobi{
        display: none;
        @media (max-width: $r_tab_768){
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
            border-radius: 100%;
            animation: shadow 5s linear infinite;
        }
        @media (max-width: $r_mob_500){
            max-width: 220px;
        }
    }
    &__btn{
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        background-color: transparent;
        transition: .2s;
        &:hover{
            &::before{
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }  
        }
        &::before{
            
            content: '';
            background-color: $green;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            width: 11px;
            height: 11px;
            transition: .2s;
            position: absolute;
        }
        &_1{
            top: 45px;
            left: 65px;
            @media(max-width: $r_desk_1350){
                top: 17px;
            }
            @media (max-width: $r_desk_hd){
                top: 10px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before{
                bottom: 4px;
                right: -35px;
            }
            
        }
        &_2{
            top: 190px;
            right: 10px;
            @media(max-width: $r_desk_1350){
                top: 109px;
            }
            @media (max-width: $r_desk_hd){
                top: 56px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before{
                bottom: 6px;
                left: -18px;
            }
        }
        &_3{
            bottom: -43px;
            right: 250px;
            @media(max-width: $r_desk_1350){
                bottom: -53px;
            }
            @media (max-width: $r_desk_hd){
                bottom: -56px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before{
                top: -24px;
                right: 30px;
            }
        }
    }
    &__food{
        display: block;
        text-align: left;
        color: rgba($green, .8);
        

    }
    &__tomato{
        position: absolute;
        width: 11rem;
        bottom: 120px;
        right:80px;
        z-index: -1;
        @media (max-width: $r_desk_hd) {
            width: 8rem;
            right: 40px;
        }
        @media (max-width: $r_mob_500){
            left: -14px;
            top: 82px;
            width: 6rem;
            bottom: initial;
            right: inherit;
        }
    }
    &__avocado{
        position: absolute;
        width: 17.8rem;
        right: 0px;
        top: 47px;
        z-index: -1;
        @media (max-width: $r_desk_full_1700) {
            top: 120px;
            width: 9.8rem;
        }
        @media (max-width: $r_mob_600){
            top: 90px;
        }
    }
    &__cucumber{
        position: absolute;
        top: 0px;
        width: 8rem;
        left: 660px;
        z-index: -1;
        @media (max-width: $r_desk_hd) {
            left: 40%;
        }
        @media (max-width: $r_mob_600){
            right: -15px;
            bottom: 210px;
            transform: rotate(90deg);
            top: initial;
            left: initial;
        }
        
    }
    &__papper{
        position:absolute;
        left: 0px;
        top: 400px;
        width: 8.6rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1700) {
            display: none;
        }
        @media (max-width: $r_mob_500) {
            display: block;
            width: 5rem;
        }
    }
    &__beans{
        position: absolute;
        bottom: 170px;
        left: 0px;
        width: 10.5rem;
        z-index: -1;
        @media (max-width: $r_tab_900) {
            width: 7rem;
        }
        @media (max-width: $r_mob_500) {
            display: none;
        }
    }

}
.title{
    font-family: $font-cormorant;
    line-height: 1;
    font-weight: 700;
    font-size: 7rem;
    color: $green;
    margin: 0;
    @media (max-width: $r_desk_1280){
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120){
        font-size: 6rem;;
    }
    @media (max-width: $r_tab_768){
        text-align: center;
    }
    &__span{
        font-style: italic;
    }
    &_block{
        .title__span{
            display: block;
        }
    }
}
.description{
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab_768) {
        text-align: center;
        // margin: 0 6rem;
    }
    &_size-s{
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280){
            font-size: 1.6rem;  
        }
    }
    &_size-m{
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280){
            font-size: 2.2rem;  
        }
    }
}
.link{
    color: $white;
    font-family: $font-jost;
    text-transform: uppercase;
    border: none;
    padding: 2.5rem 4.2rem;
    background-color: #d26a22;
    box-shadow: 0px 1rem 1.118rem .182rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    letter-spacing: 0.13rem;
    border-radius: 3.8rem;
    display:inline-block;
    transition: .2s;
    @media (max-width: $r_desk_1280){
        font-size: 1.4rem;  
    }
    &_litle{
        padding: 2.1rem 2.9rem;
        font-size: 1.4rem;
        @media(max-width: $r_desk_1350){
            padding: 1.5rem 2rem;
            font-size: 1.4rem; 
        }
        @media(max-width: $r_desk_hd){
            display: block;
            padding: 2.5rem 4.2rem;
            margin: 0 auto;
        }
        @media (max-width: $r_tab_768){
            padding: 2rem 2.4rem
        }
    }
    &_medium{
        @media(max-width: $r_desk_1350){
            padding: 1.5rem 2rem;
            font-size: 1.4rem; 
        }
        @media(max-width: $r_desk_hd){
            display: block;
            padding: 2.5rem 4.2rem;
            margin: 0 auto;
        }
    }
    &:hover{
        background-color: $darkorange;
    }
}

.offer{
    padding-top: 2rem;
    padding-bottom: 12.8rem;
    @media (max-width: $r_tab_768){
        padding-bottom: 4rem;
    }
    &__text{
        margin-top: 6rem;
        max-width: 700px;
    }
}


.slider{
    overflow: hidden;
    padding-bottom: 6rem;
    padding-top: 10rem;
    @media (max-width: $r_tab_768) {
        max-width: 450px;
        padding-top: 4rem;
        padding-bottom: 7rem;
        margin: 0 auto;
    }
}
.swiper{
    overflow: initial;
    &-slide{
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        position: relative;
        transition: .2s all;
        z-index: 0;
        &_white{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            justify-content: flex-end;
            height: 520px;
            padding: 4rem 3.7rem;
            @media (max-width: $r_desk_hd) {
                height: 400px;
            }

            &:hover{
                .swiper-slide__text{
                    opacity: 1;
                }
                .swiper-slide__hover{
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
                &::after{
                    content: '';
                    background-color: rgba($white, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position:absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &__hover{
            display: none;
            transition: .2s all linear;
            visibility: hidden;
            opacity: 0;
        }
        &:hover{
            box-shadow:  0 0 0 2px rgba($green, 0.4) inset;

        }

        &_1{
            background-image: url(../images/botle.png);
            background-position: -40px center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &_2{
            background-image: url(../images/noodles.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &_3{
            background-image: url(../images/meat.png);
            background-position: 100% center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &__title{
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            font-weight: 700;
            margin: 0;
            &_litle{
                @media (max-width: $r_desk_1350) {
                    font-size: 2.3rem;
                    text-align: center;
                    max-width: 150px;
                    margin: 0 auto;
                    min-height: 58px;
                }
                @media (max-width: $r_tab_768){
                    font-size: 2rem;
                }
            }
        }
        &__text{
            display: block;
            color: $green;
            font-size: 1.6rem;
            max-width: 26.3rem;
            line-height: 1.5;
            margin: 0;
            margin-bottom: 3.4rem;
            margin-top: 2.5rem;
        }
        &__description{
            font-size: 1.8rem;
            margin-top: 31px;
            margin-bottom: 0;
            line-height: 1.5;
            min-height: 80px;
            @media (max-width: $r_desk_hd){
                min-height: 50px;
                margin-top: 10px;
                text-align: center;
                max-width: none;
                font-size: 1.4rem;
            }
            &_litle{
                font-size: 1.6rem;
                margin-top: 31px;
                max-width: 230px;
                min-height: 55px;
                @media (max-width: $r_desk_hd){
                    max-width: none;
                    font-size: 1.4rem;
                }
                @media (max-width: $r_tab_768){
                    margin-top: 10px;
                    text-align: center;
                    min-height: 80px;
                } 
            }

        }

        &__link{
            display: flex;
            align-items: center;
            font-family: $font-jost;
            color: $green;
            font-size: 1.6rem;
            opacity: .8;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 0.1;
            gap: 20px;
            transition: .2s;
            &:hover{
                opacity: 1;
            }
            &::before{
                content: "";
                display: block;
                background-image: url(../images/plus1.png);
                background-position: center center;
                background-size: 14px 14px;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                border: 1px solid rgba($green, 0.8);
                border-radius: 100%;
            }
        }
        &_trends{
            @media (max-width: $r_desk_hd){
                height: 480px;
            }
        }
        &_catalog{
            // height: 50rem;
            padding: 2rem 3rem;
        }
        &__cover{
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;

            @media (max-width: $r_desk_hd){
                height: 200px;
            }
            &_litle{
                height: 220px;
                @media (max-width: $r_tab_768){
                    height: 150px;
                }
            }
        }
        &__img{
            width: 100%;
            object-fit: contain;
            max-width: 351px;
            height: 100%;
            &_litle{
                width: 80%;
            }

        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_litle{
                gap: 28px;
            }
        }
        &__price{
            font-size: 2.4rem;
            margin-top: 60px;
            margin-bottom: 20px;
            @media (max-width: $r_desk_hd){
                text-align: center;
               margin-top: 0;
               margin-bottom: 20px;
            }
            @media (max-width: $r_tab_768){
                font-size: 2rem;
            }
            
        }
        
    }

    &-pagination{
        display: none;
        @media (max-width: $r_tab_768){
            display: block;
        }
        &_2{
            @media (max-width: $r_tab_768){
                display: block;
            } 
        }
    }
    &-button-next, &-button-prev{
        top: -60px;
        @media (max-width: $r_tab_768){
            display: none;
        }
        &:hover{
            &::after{
                color: rgba($green,0.4);

            }
        }
        &::after{
            color: $green;
            font-size: 20px;
        }
    }
    &-button-prev{
        left: initial;
        right: 80px;
        
    }
}
.swiper-horizontal>.swiper-pagination-bullets{
    bottom: -50px;
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
    @media (max-width: $r_desk){
        display: flex;
    }
}
.swiper-pagination-bullet-active{
    background: $orange;
    border: 1px solid $orange;
}
.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
}
.counter{
    display: flex;
    @media (max-width: $r_desk_hd){
        display: none;
    }
    &__btn{
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 1 solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        &_litle{
            width: 40px;
            height: 40px;
        }
    }
    &__minus{
        pointer-events: none;
        background-image: url(../images/minus-cnt.png);
        background-size: 14px 2px;
        background-repeat: no-repeat;
        opacity: .4;
        &_litle{}
    }
    
    &__plus{
        background-image: url(../images/plus-counet.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }
    &__input{
        text-align: center;
        font-size: 2.4rem;
        width: 43px;
        border: none;
        padding: 0;
        &_litle{
            width: 33px;
        }

    }
}
.about{
    padding-bottom: 12.8rem;
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: $r_tab_768) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
    &__text{
        flex-basis: 70.3rem ;
        margin-left: 12rem;
        margin-top: 11.3rem;
        @media (max-width: $r_desk_1350){
            flex-basis: 50rem;
        }
        @media (max-width: $r_desk_1280){
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab_900) {
            flex-basis: 35rem;
        }
        @media (max-width: $r_tab_768) {
            flex-basis: 100%;
            margin-left: 0;
        }
    }
    &__list{
        display: flex;
        align-items:center;
        gap: 84px;
        list-style: none;
        padding:0;
        margin: 0;
        @media (max-width: $r_desk_1350){
            gap: 30px;
        }
        @media (max-width: $r_tab_768){
            justify-content: center;
        }
    }
    &__item{
        font-family: $font-cormorant;
        font-style: italic;
        color: $green;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        @media (max-width: $r_desk_1350){
            font-size: 2.5rem;
        }
        gap: 28px;
        &::before{
            content: "";
            width: 84px;
            height: 84px;
            border-radius: 100%;
            border: 1px solid rgba($green, .4);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 40px 40px;
        }
        @media (max-width: $r_tab_900){
            &::before{
                width: 60px;
                height: 60px;
                background-size: 30px 30px;
            }
        }
        &_1{
            &::before{
                background-image: url(../images/fruits123.png);
            }
        }
        &_2{
            &::before{
                background-image: url(../images/traditional.png);
            }
        }
        &_3{
            &::before{
                background-image: url(../images/good.png);
            }
        }
    }
}
.trends{
    background-image: url(../images/background2.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 20rem;
    &__description{
        margin-top: 6.2rem;
    }
    @media (max-width: $r_tab_768){
        padding-bottom: 8rem;
    }
}

.catalog{
    padding-bottom: 17.4rem;
    @media (max-width: $r_tab_768){
        padding-bottom: 8rem;
    }
    &__text{
        margin-top: 6rem;
        @media(max-width: $r_tab_768){
            margin-top: 3rem;
        }
    }
    &__categories{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px 20px;
        margin-top: 95px;
        margin-bottom: 50px;
        @media(max-width: $r_desk_1280){
            flex-wrap: wrap;
            justify-content: center;
        }
        @media(max-width: $r_tab_768){
            margin-top: 4rem;
        }
        
    }
    &__link{
        padding: 2.7rem 0;
        text-align: center;
        width: 230px;
        border: 1px solid rgba($green, .5);
        border-radius: 35px;
        text-decoration: none;
        color: rgba($green,.5);
        transition: .2s;
        @media(max-width: $r_tab_900){
            padding: 2rem 0;
        }
        &:hover{
            border: 1px solid $orange;
            color: $orange;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px 10px;
        @media (max-width: $r_desk_1600){
            grid-template-columns: repeat(3,1fr);
        }
        // @media (max-width: $r_desk_1120){
        //     grid-template-columns: repeat(2,1fr);
        // }
        @media (max-width: $r_desk_1120){
            grid-template-columns: repeat(2,50%);
        }
    }
    &__reload{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        opacity: 0.8;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $green;
        letter-spacing: 0.1rem;
        text-align: center;
        margin-top: 6.6rem;
        gap: 15px;
        transition: .2s;
        &::before{
            content: "";
            width: 25px;
            height: 25px;
            background-image: url(../images/reload.svg);
            background-position: center center;
            background-size: cover;
        }
        &:hover{
            opacity: 1;
        }
    }
}
.pay{
    padding-bottom: 20rem;
    @media (max-width: $r_tab_768) {
        padding-bottom: 0;
    }
    &__bottomtext{
        display: block;
        margin-top: 40px;
        @media (max-width: $r_desk_1280){
            margin-top: 6px;
        }
    }
    &__text{
        margin-left: 12rem;
        margin-top: 5.6rem;
        line-height: 1.5;
        display: flex;
        gap: 12%;
        align-items: center;
        @media (max-width: $r_desk_1280){
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_hd) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab_768) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 44px;
        }
    }
    &__left{
        display: flex;
        flex-basis: 44%;
        @media (max-width: $r_tab_768) {
            flex-basis: auto;
        }
    }
    &__link{
        color: $green;
        transition: .2s;
        text-decoration: none;
        position: relative;
        &::after{
            display: block;
            content: "";
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #858881 ;

        }
        &:hover{
            color: $orange;
        }
    }
    &__orangetext{
        color: $orange;
    }
    &__right{
        flex-basis: 470px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 55px;
        @media (max-width: $r_desk_1280){
            flex-basis: 56%;
        }
        @media (max-width: $r_tab_768) {
            flex-basis: auto;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 3rem;
        @media (max-width: $r_tab_768) {
            gap: 4.4rem;
            justify-content: center;
        }
    }
    &__bank{
        opacity: .4;
        transition: .2s;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover{
            opacity: 1;
        }
        &:nth-child(1){
            width: 55px;
            height: 33px;
            background-image: url(../images/pay/mastercard.png);

        }
        &:nth-child(2){
            width: 73px;
            height: 23px;
            background-image: url(../images/pay/visa.png);

        }
        &:nth-child(3){
            width: 87px;
            height: 24px;
            background-image: url(../images/pay/paypal.png);

        }
    }
}
.contact{
    padding-bottom: 16.2rem;
    @media (max-width: $r_tab_768) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    &-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $r_tab_768) {
            flex-wrap: wrap;
            justify-content: center;
        }
        
        &__text{
            margin-left: 12.2rem;
            margin-top: 8rem;
            max-width: 400px;
            flex-grow: 1;
            @media (max-width: $r_desk_1280){
                margin-left: 8rem;
            }
            @media (max-width: $r_desk_hd) {
                margin-left: 4rem;
            }
            @media (max-width: $r_tab_768) {
                margin-left: 0;
            }
        }
        &__form{
            flex-basis: 589px;
            @media (max-width: $r_desk_1120) {
                flex-basis: 500px;
            }
            @media (max-width: $r_tab_900) {
                flex-basis: 350px;
            }
            @media (max-width: $r_tab_768) {
                flex-basis: initial;
            }
        }
        &__subtitle{
            
        }
        &__list{

            li:last-child{
                margin-top: 3rem;
                @media (max-width: $r_tab_768){
                    margin-top: 0;
                }
            }
            margin: 0;         
            margin-top: 7rem;
            @media (max-width: $r_tab_768){
                margin-top: 2rem;
            }
            padding: 0;
            list-style: none;
            @media (max-width: $r_tab_768){
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3rem;
            }
        }
        &__link{
            display: flex;
            align-items: center;
            gap: 3rem;
            text-decoration: none;
            font-size: 2.4rem;
            color: $green;
            font-weight:500;
            transition: .2s;
            @media (max-width: $r_tab_768) {
                justify-content: center;
                font-size: 1.4rem;
                gap: 1rem;
            }
            &:hover{
                color: $orange;
                
            }
            &::before{
                content: "";
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &_1{
                &::before{
                    background-image: url(../images/phone.svg);
                    width: 30px;
                    height: 26px;
                }
            }
            &_2{
                &::before{
                    width: 30px;
                    height: 19px;
                    background-image: url(../images/mail.svg);
                }
            }
        }
    }
}
.card{
    border: 2px solid rgba($green, .4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    &__title{
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0;
        @media (max-width: $r_tab_768) {
            text-align: center;
        }
    }
    &__label{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display:block;
        margin-left: .6rem;
    }
    &__input{
        display:block;
        border: 1px solid rgba($green, .4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
        &:focus{
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid{
            border:red;
        }

    }
    &__check{
        margin-top: 1.6rem;
        margin-bottom: 0;
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        @media (max-width: $r_tab_768) {
            text-align: center;
        }

    }
    &__link{
        margin-top: 1.2rem;
        @media (max-width: $r_tab_900){
            display: block;
            margin: 0 auto;
            padding: 1.7rem 2rem;
        }
        @media (max-width: $r_tab_768) {
            align-items: center;
            padding: 2.5rem 4.2rem;
        }
    }
    &__docs{
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        @media (max-width: $r_tab_768) {
            text-align: center;
        }
    }
}
.line{
    width: 100%;
    height: 1px;
    background-color: $green;
    opacity: 0.4;
}

.footer{
    padding-bottom: 8.5rem;
    @media (max-width: $r_mob_500) {
        padding-bottom: 4rem;
    }
    &__box{
        padding-top: 8.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: $r_tab_768) {
            display: block;
        }
    }
    &__logo{
        @media (max-width: $r_tab_768) {
            display: block;
            margin: 0 auto;
        }
    }
    &__list{
        list-style: none;
        
        padding: 0;
        margin: 0;
        @media (max-width: $r_tab_768) {
            margin-top: 3rem;
            text-align: center;
        }
        &_link{
            @media (max-width: $r_tab_768) {
                margin-top: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 29px;
            }
        }
    }
    &__item{
        &:first-child{
            margin-top: 0;
        }
        &:last-child{}
        margin-top: 4rem;
        font-size: 2rem;
        @media (max-width: $r_tab_768){
            margin-top: 0;
        }
        &_date{
            @media (max-width: $r_tab_768){
                margin-top: 3rem;
            }
        }
    }
    &__link{
        text-decoration: none;
        color: $green;
        transition: .2s;
        font-size: 2rem;
        &:hover{
            color: $orange;
        }
        @media (max-width: $r_tab_768) {
            margin-top: 3rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.6rem;
        }
    }
    &__contact{
        @media (max-width: $r_tab_768) {
            margin-top: 3rem;
        }
    }
    &__tel{
        display: block;
        text-decoration: none;
        color: $green;
        font-size: 3rem;
        margin-bottom: 4.1rem;
        @media (max-width: $r_tab_768) {
            margin-top: 0;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    &__mail{
        margin-top: 4rem ;
        display: block;
        text-decoration: none;
        color: $green;
        font-size: 1.8rem;
        @media (max-width: $r_tab_768) {
            text-align: center;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.4rem;
            margin-top: 2rem;
        }
    }
    &-social{
        padding: 0;
        margin: 0;
        margin-top: 3.4rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_tab_900) {
            justify-content: center;
            gap: 20px;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            border: 1px solid rgba($green, .8);
            border-radius: 100%;
            animation: shadow-link 5s linear infinite;
        }
        &__link{
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: .8;
            transition: .2s;
            
            &:hover{
                opacity: 1;
            }
        }
        &__vk{
            
            background-image: url(../images/social/vk.svg);
            background-size: 2.3rem;
        }
        &__inst{
            background-image: url(../images/social/inst.svg);
            background-size: 1.8rem;
        }
        &__facebook{
            background-image: url(../images/social/facebook.svg);
            background-size: 1.8rem;
        }
    }
    &__text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6.2rem;
        @media (max-width: $r_tab_768) {
            display: block;
        }
        @media (max-width: $r_mob_500) {
            margin-top: 4rem;
        }
    }
    &__copy{
        margin: 0;
        font-size: 1.6rem;
        color: $green;
        opacity: .6;
        @media (max-width: $r_tab_768) {
            text-align: center;
        }
    }
    &__annblok{
        text-decoration: none;
        color: rgba($green, .6);
        transition: .2s;
    }
    &__author{
        margin: 0;
        font-size: 1.6rem;
        color: rgba($green, .6);
        cursor: pointer;
        transition: .2s;
        @media (max-width: $r_tab_768) {
            margin-top: 2rem;
            text-align: center;
        }
        &:hover{
            .footer__annblok{
                color: rgba($green, 1);
            }
        }
    }
}
@keyframes shadow{
    0%{
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
    50%{
        box-shadow: 20px 20px 33px 0 rgba($green, .5);
    }
    100%{
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
}
@keyframes shadow-link{
    0%{
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
    50%{
        box-shadow: 0px 0px 10px 0 rgba($green, .5);
    }
    100%{
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
}