@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;;
$font-cormorant: 'Cormorant', serif;;
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family:$font-jost;
    color: $green;

}

.header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    &__nav{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__flexitems{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 910px;
    }
    &__link{
        color: $green;
        text-decoration: none;
        
        &:hover{
            color:$orange;
        }
    }
    &__tel{
        color: $green;
        text-decoration: none;
        font-weight: 500;
        margin-left: 14rem;

        &:hover{
            color:$orange;
        }
    }
    &__cart{
        display: block;
        background-color: $orange;
        width: 4rem;
        height: 4rem;
        background-image: url(../images/cart-black.svg);
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.6rem 1.6rem;
        position: relative;
        border: 1px solid $orange;
        &:hover{
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter{
        font-size: .8rem;
        color: $white;
        position:absolute;
        right: 1rem;
        top: .5rem;
    }
}
.logo{
    width: 12rem;
    height: 3.2rem;
    display: block;
    background-image: url(../images/logo1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main{
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__text{
        padding-top: 4rem;
    }
    &__item{
        margin-left:  12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link{
        margin-top: 6rem;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover{
        flex-basis: 758px;
        height: 758px ;
        border: 1px solid  rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line{
        width: 656px;
        height: 656px;
        border: 1px solid  rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image{
        width: 92%;
        box-shadow: 15px 20px 20px 0 rgba(#000,.2);
        border-radius: 100%;
    }
    &__btn{
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        background-color: transparent;
        &:hover{
            &::before{
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }  
        }
        &::before{
            content: '';
            background-color: $green;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            width: 11px;
            height: 11px;
            position: absolute;
        }
        &_1{
            top: 45px;
            left: 65px;
            &::before{
                bottom: 4px;
                right: -35px;
            }
            
        }
        &_2{
            top: 190px;
            right: 10px;
            &::before{
                bottom: 6px;
                left: -18px;
            }
        }
        &_3{
            bottom: -43px;
            right: 250px;
            &::before{
                top: -24px;
                right: 30px;
            }
        }
    }
    &__food{
        display: block;
        text-align: left;
        color: rgba($green, .8);
        

    }
    &__tomato{
        position: absolute;
        width: 11rem;
        bottom: 120px;
        right:80px;
        z-index: -1;
    }
    &__avocado{
        position: absolute;
        width: 17.8rem;
        right: 0px;
        top: 47px;
        z-index: -1;
    }
    &__cucumber{
        position: absolute;
        top: 0px;
        width: 8rem;
        left: 660px;
        z-index: -1;
    }
    &__papper{
        position:absolute;
        left: 0px;
        top: 400px;
        width: 8.6rem;
        z-index: -1;
    }
    &__beans{
        position: absolute;
        bottom: 170px;
        left: 0px;
        width: 10.5rem;
        z-index: -1;
    }

}
.title{
    font-family: $font-cormorant;
    line-height: 1;
    font-weight: 700;
    font-size: 7rem;
    color: $green;
    margin: 0;

    &__span{
        font-style: italic;
    }
    &_block{
        .title__span{
            display: block;
        }
    }
}
.description{
    margin: 0;
    line-height: 1.5;
    &_size-s{
        font-size: 1.8rem;
    }
    &_size-m{
        font-size: 2.4rem;
    }
}
.link{
    color: $white;
    font-family: $font-jost;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    border: 1px solid $white;
    background-color: #d26a22;
    box-shadow: 0px 1rem 1.118rem .182rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    letter-spacing: 0.13rem;
    border-radius: 3.8rem;
    display:inline-block ;
    &:hover{
        color: $orange;
        background-color: $white;
        border: 1px solid $orange;
    }
}

.offer{
    background-image: url(../images/background2.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 12.8rem;
    &__text{
        margin-top: 6rem;
        max-width: 700px;
    }
    &__slider{
        overflow: hidden;
        padding-top: 100px;
    }
}
.swiper{
    overflow: initial;
    &-slide{
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 4rem 3.7rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 46.5rem;
        box-sizing: border-box;
        position: relative;
        transition: .2s all;
        z-index: 0;
        &__hover{
            display: none;
        }
        &:hover{
            box-shadow:  0 0 0 2px rgba($green, 0.4) inset;
            .swiper-slide__text{
                opacity: 1;
            }
            .swiper-slide__hover{
                display: block;
            }
            &::after{
                content: '';
                background-color: rgba($white, .55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position:absolute;
                top: 2px;
                left: 2px;
                border-radius: 2rem;
                z-index: -1;
            }
        }

        &_1{
            background-image: url(../images/botle.png);
            background-position: -40px center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_2{
            background-image: url(../images/noodles.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &_3{
            background-image: url(../images/meat.png);
       
            background-size: cover;
            background-repeat: no-repeat;
        }
        &__title{
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            font-weight: 700;
            margin: 0;
        }
        &__text{
            display: block;
            color: $green;
            font-size: 1.6rem;
            max-width: 26.3rem;
            line-height: 1.5;
            margin: 0;
            margin-bottom: 3.4rem;
            margin-top: 2.5rem;
        }
        &__link{
            display: flex;
            align-items: center;
            font-family: $font-jost;
            color: $green;
            font-size: 1.6rem;
            opacity: .8;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 0.1;
            gap: 20px;
            &:hover{
                opacity: 1;
            }
            &::before{
                content: "";
                display: block;
                background-image: url(../images/plus1.png);
                background-position: center center;
                background-size: 14px 14px;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                border: 1px solid rgba($green, 0.8);
                border-radius: 100%;
            }
        }
    }
    &-pagination{
        display: none;
    }
    &-button-next, &-button-prev{
        top: -60px;
       
        &:hover{
            &::after{
                color: rgba($green,0.4);

            }
        }
        &::after{
            color: $green;
            font-size: 20px;
        }
    }
    &-button-prev{
        left: initial;
        right: 80px;
        
    }
}
.about{
    background-image: url(../images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-bottom: 12.8rem;
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__text{
        max-width: 58.3rem ;
        margin-left: 12rem;
        margin-top: 11.3rem;
    }
    &__list{
        display: flex;
        align-items:center;
        gap: 84px;
        list-style: none;
        padding:0;
        margin: 0;
    }
    &__item{
        font-family: $font-cormorant;
        font-style: italic;
        color: $green;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        gap: 28px;
        &::before{
            content: "";
            width: 8.5rem;
            height: 8.5rem;
            border-radius: 100%;
            border: 1px solid rgba($green, .4);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 40px 40px;
        }
        &_1{
            &::before{
                background-image: url(../images/fruits123.png);
            }
        }
        &_2{
            &::before{
                background-image: url(../images/traditional.png);
            }
        }
        &_3{
            &::before{
                background-image: url(../images/good.png);
            }
        }
    }
}